.contact{
   background-color: #dc770b27;
   padding: 150px 0;

   .contact__title{
      width: 750px;
      margin: 0 auto;
      text-align: center;
      font-size: 31.25px;
      line-height: 41px;
      font-family: $font;
      color: $color-dark;
      margin-bottom: 46px;

   }

   .contact__form{
      display: flex;
      align-items: center;
      width: 750px;
      margin: 0 auto;

      .contact__input{
         padding: 32px 500px 34px 32px;
         border: none;
         border-radius: 10px 0 0 10px;
         outline: none;
      }
      .contact__btn{
         @include button;
         padding: 30px 57px;
         font-size: 18px;
         border: none;
         border-radius: 0 10px 10px 0;
      }
   }
}